@import '@fontsource/fira-mono';

:root {
	--font-body: 'Inter', sans-serif;
	--font-mono: 'Inter', sans-serif;
	--color-theme-1: #29b139;
	--color-theme-1-lighten: #5ad869;
	--color-text-main: #4e324d;
	--color-text1: #b129aa;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text-main);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	text-align: center;
	font-weight: 50;
	text-shadow: 0px 2px 0.05em rgb(215, 215, 215);
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 1rem;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text-main);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

button {
	font-size: inherit;
	font-weight: 400;
	font-family: inherit;
	border: none;
	cursor: pointer;
	padding: 0.5em 2em 0.5em 2em;
	border-radius: 0.4em;
	background-color: var(--color-theme-1);
	color: #ffffff;
	box-shadow: 0px 2px 0.05em rgb(215, 215, 215);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.registration-window {
	padding: 3em;
	display: flex;
	font-weight: 400;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid var(--color-theme-1);
	background-color: #fffafe;
	min-height: 25em;
}

input {
	border-radius: 0.5em;
	background-color: #f8f8f8;
	width: 100%;
	min-height: 2em;
}

.center {
	align-items: center;
	display: flex;
	justify-content: center;
}
